<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatScanner</title>
    <script>
      function setTextareaValue(text) {
        document.getElementById("question").value = text;
      }
    </script>
    </head>
  <body>
    <h1>LLMScanner</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
      <i>Supported formats:
        <ul>
        <li>json - Telegram channel export</li>
        <li>html - Web page</li>
        <li>csv - Comma separated data</li>
        </ul>
      </i>
      <label for="json_files">Select files to work with:</label><br />
      <input
        type="file"
        id="json_files"
        name="json_files"
        multiple
        required
      /><br /><br />
      <label for="question">Enter your question:</label><br />
      <textarea
        id="question"
        name="question"
        rows="2"
        cols="50"
        required
      ></textarea
      ><br /><br />
      <h3>A few examples for your inspiration:</h3>
      <ul>
        <li><a href="#" onclick="setTextareaValue('List all events that happened in Belgorod');">List all events that happened in Belgorod</a></li>
        <li><a href="#" onclick="setTextareaValue('What is the latest status in Bakhmut?');">What is the latest status in Bakhmut?</a></li>
        <li><a href="#" onclick="setTextareaValue('Is Wagner involved in Sudan?');">Is Wagner involved in Sudan?</a></li>
      </ul>
      <br /><br />
      <button type="submit">Submit</button>
    </form>
    </ul>
  </body>
</html>
